body {
    background-color: #DC3535;
    color: #000;
}

.custom-rounded-button {
    border-radius: 20px;
}

.custom-heading {
    font-size: 2rem;
}

.custom-subheading {
    font-size: 1.5rem;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

/* Styles for the carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 24px;
}

/* Styles for custom headings */
.custom-heading {
    font-size: 36px;
    color: #000;
}

/* Styles for custom subheadings */
.custom-subheading {
    font-size: 24px;
    color: #000;
}

/* Styles for custom rounded buttons */
.custom-rounded-button {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
}
/*  */
.custom-rounded-button:hover {
    background-color: #fff;
    color: #fff;
}

/* Styles for links within buttons */
.custom-rounded-button a {
    text-decoration: none;
    color: #000;
}

/* Styles for the "Already have an account?" section */
.text-start {
    text-align: left;
}

.button-google-sign-in {
    color: #00040a;
    margin-right: 10px;

}

.button-apple-sign-in {
    color: #000205;
    margin-right: 15px;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

/* Style for the enabled button */
#submitButton:enabled {
    background-color: #DC3535;
    color: white;
    cursor: pointer;
}

/* Style for the disabled button */
#submitButton:disabled {
    background-color: gray;
    color: #aaa;
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {
    .sign-up-logo {
        display: none;
    }
    .sign-in-logo {
        display: none;
    }
    
}

